<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.map.mvvmgogo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVMGOGO">
        <activity
            android:name=".multiRecyclerView_Package.MultiViewActivity"
            android:exported="false" />
        <activity
            android:name=".double_recyclerview_Package.MainFragment"
            android:exported="false" />
        <activity
            android:name=".double_recyclerview_Package.Double_RecyclerViewMainActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit_MvvmPackage.Retrofit_Mvvm_MainActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm_RecyclerView_Package.Mvvm_RecyclerView_MainActivity"
            android:exported="false" />
        <activity
            android:name=".room_Package.RoomMvvm_MainActivity"
            android:exported="false" />
        <activity
            android:name=".dataBinding_Package.DataBinding_MainActivity"
            android:exported="false" />
        <activity
            android:name=".LiveData_ViewModel_Package.LiveData_ViewModel_MainActivity"
            android:exported="false" />
        <activity
            android:name=".recycler_package.recy_main_activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>